body{
    margin:0;
}
.container{
    display:inline-block;
    margin:0;
}
.zero{
    width: 100%;
    height: 120px;
    background-color: purple;
}
.first{
    width: 49%;
    height: 250px;
    background-color: blue;
    margin:0;
}

.second{
    width: 49%;
    height: 250px;
    background-color: green;
    margin:0;
}

.third{
    width: 39%;
    height: 275px;
    background-color: grey;
}

.fourth{
    width: 59%;
    height: 275px;
    background-color: red;
}